@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-foreground min-h-screen;
}

a {
  @apply text-accent hover:text-foreground transition-colors;
}
